/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Pacifico&subset=latin-ext');
/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 50px;
	font: 18px/1.5 sans-serif;
	background-color: white;
	color: black;
}


#redbutton {
	font-family: Monserrat, sans-serif;
	text-align: center;
	color: white;
	background: #9B0A0A;
	margin-bottom: 10px;
	
}

#enlarge-text {
	font-family: Monserrat, sans-serif;
	text-align: center;
	color: white;
	background: #9B0A0A;
	margin-bottom: 10px;
}
.cerveny {
	color: red;
}

.paragraph {
	font-size: 16px;
	background-color: #FFEFEF;
	width: 300px;
	border: 3px solid #F7D5D5;
	text-align: center;
}